@charset "UTF-8";

.wrap {
	position: relative;
	width: 100%;
	background-color: #4f0600;
}
.d_flex {
	display: flex;
	flex-wrap: wrap;
}
.f_center {
	align-items: center;
	justify-content: center;
}


/* header */
header {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	background-color: #fff;
}
.header_inner {
	width: 800px;
	align-items: center;
}
.top_nav {
	margin-left: auto;
}
.top_nav li:not(:last-child) {
	margin-right: 15px;
}
.top_nav li a {
	color: #666;
}

/* main */
main {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.side_banner {
	position: absolute;
	top: 70px;
	right: 50px;
	border-radius: 6px;
	overflow: hidden;
	z-index: 1;
}

.visual {
	position: relative;
	width: 100%;
	background-color: #fff;
}
.visual_inner {
	position: relative;
	width: 800px;
}
.visual_inner img {
	position: relative;
	left: 0;
	bottom: -185px;
	z-index: 1;
}
.visual_txt p {
	letter-spacing: -.06em;
}
.visual_txt p:nth-child(1) {
	font-size: 60px;
	color: #000;
	position: absolute;
	top: 222px;
	right: 176px;
}
.visual_txt p:nth-child(2) {
	font-size: 60px;
	color: #cf160c;
	position: absolute;
	top: 263px;
	right: 185px;
}
.visual_txt p:nth-child(3) {
	font-size: 90px;
	color: #000;
	position: absolute;
	top: 263px;
	right: 0;
}

.gnb {
	position: relative;
	width: 100%;
	background-color: #830e04;
}
.gnb > ul {
	width: 800px;
	justify-content: flex-end;
}
.gnb > ul > li {
	position: relative;
}
.gnb > ul > li:not(:last-child) {
	margin-right: 30px;
}
.gnb > ul > li > a{
	padding: 20px 0;
	font-size: 16px;
	color: #fff;
	transition: all .3s;
}
.gnb > ul > li:hover > a {
	color: #ffe400;
}
.lnb {
	display: none;
	position: absolute;
	z-index: 1;
	background: #830e04;
	width: calc(100% + 30px);
	left: -15px;
}
.lnb li {
	position: relative;
}
.lnb li a {
	padding: 15px 0;
	font-size: 14px;
	color: #fff;
	transition: all .3s;
}
.lnb li a:hover {
	background-color: #a71f13;
}

.topic {
	position: relative;
	width: 800px;
	margin: 50px 0;
	margin-top: 100px;
}
.topic h2 {
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
}
.topic_img {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.topic_img img {
	width: 100%;
	transition: all .3s;
}
.topic_img:hover img {
	transform: scale(1.1);
}
.topic_txt {
	position: absolute;
	text-align: center;
	top: 80px;
    right: 100px;
}
.topic_txt h4 {
	font-size: 28px;
	color: #4f0600;
	margin-bottom: 5px;
	font-weight: 700;
}
.topic_txt p {
	font-size: 16px;
	color: #000;
	font-weight: 700;
}
.cont {
	position: relative;
	width: 800px;
	justify-content: space-between;
}
.cont .box {
	flex-direction: column;
	background-color: #fff;
}
.cont .box .box_top {
	height: 55px;
	font-size: 18px;
	background-color: #000;
	color: #eee;
}
.cont .box .box_bottom {
	height: 92px;
	font-size: 15px;
	color: #000;
	text-align: center;
}